$dark-grey: #2B2B2B;
$middle-grey: #3B3B3B;
$light-grey: #CCC;
$grey: #858584;

$white: #FFF;

$purple: #A259FF;

$green: #00AC4F;

$transparent: rgba(59, 59, 59, 0.50);

$desktop-container-width: 1050px;
$tablet-container-width: 690px;
$mobile-container-width: 315px;

