.background-picture {
    position: relative;

    .top {

        img {
            width: 100%;
            height: 320px;
            padding: 20px 0 0 0;

            @include for-size(tablet) {
                width: 100%;
                height: 280px;
            }

            @include for-size(mobile) {
                width: 100%;
                height: 250px;
            }
        }
    }

    .bottom {

        img {
            width: 120px;
            height: 120px;
            position: absolute;
            top: 255px;
            left: 170px;
            border: 2px solid $dark-grey;
            border-radius: 20px;

            @include for-size(tablet) {
                top: 220px;
            }

            @include for-size(mobile) {
                top: 185px;
                left: 250px;
            }
        }
    }
}

.first-section {
    @include container;
    padding: 80px 0 40px 0;
    display: flex;
    gap: 100px;

    @include for-size(tablet) {
        padding: 30px;
        margin-top: 50px;
        flex-direction: column;
    }

    .left-side {
        width: 599px;
        height: 377px;

        @include for-size(tablet) {
            width: 690px;
            height: 393px;
        }

        @include for-size(mobile) {
            width: 375px;
            height: 526px;
        }

        .right-side2 {
            display: none;

            @include for-size(tablet) {
                display: flex;
                margin-top: 20px;
                gap: 20px;
            }

            @include for-size(mobile) {
                flex-direction: column;
            }

            #btn1 {
                width: 186px;
                height: 66px;

                @include for-size(mobile) {
                    width: 315px;
                    height: 60px;
                    margin-top: -10px;
                }
            }

            #btn2 {
                width: 145px;
                height: 60px;
                margin-top: 3px;
                background-color: transparent;
                border: 2px solid $purple;

                @include for-size(mobile) {
                    width: 315px;
                    height: 60px;
                    margin-top: -5px
                }

                p {
                    @include text-formatter($purple, 600, 140%, 16px);
                }

                @include text-formatter($white, 600, 140%, 16px);
            }
        }

        h2 {
            @include text-formatter($white, 600, 110%, 51px);

            @include for-size(tablet) {
                @include text-formatter($white, 600, 120%, 38px);
                margin-top: -10px;
            }

            @include for-size(mobile) {
                margin-top: -15px;
            }
        }

        .static {
            display: flex;
            width: 510px;
            height: 74px;
            gap: 20px;
            padding: 30px 0;

            @include for-size(tablet) {
                width: 510px;
                height: 57px;
            }

            @include for-size(mobile) {
                width: 315px;
                height: 57px;
            }

            h6 {
                @include text-formatter($white, 700, 140%, 28px);

                @include for-size(tablet) {
                    @include text-formatter($white, 700, 160%, 22px);
                }
            }

            p {
                @include text-formatter($white, 400, 160%, 22px);

                @include for-size(tablet) {
                    @include text-formatter($white, 400, 140%, 16px);
                }
            }

            .volume {
                width: 157px;
                height: 74px;
                flex-direction: column;

                @include for-size(tablet) {
                    height: 57px;
                }

                @include for-size(mobile) {
                    width: 92px;
                }
            }

            .sold {
                width: 157px;
                height: 74px;
                flex-direction: column;

                @include for-size(tablet) {
                    height: 57px;
                }

                @include for-size(mobile) {
                    width: 91px;
                }
            }

            .followers {
                width: 157px;
                height: 74px;
                flex-direction: column;

                @include for-size(tablet) {
                    height: 57px;
                }

                @include for-size(mobile) {
                    width: 91px;
                }
            }
        }

        .bio {
            padding: 60px 0 30px 0;

            > h6 {
                @include text-formatter($grey, 700, 160%, 22px, "Space Mono");
                margin-bottom: 10px;
    
                @include for-size(tablet) {
                    @include text-formatter($grey, 400, 140%, 16px, "Space Mono");
                }
            }
    
            > p {
                @include text-formatter($white, 400, 160%, 22px);
    
                @include for-size(tablet) {
                    @include text-formatter($white, 400, 140%, 16px, "Space Mono");
                }
            }
        }

        .links {

            > h6 {
                @include text-formatter($grey, 700, 160%, 22px, "Space Mono");
                margin-bottom: 10px;
    
                @include for-size(tablet) {
                    @include text-formatter($grey, 400, 140%, 16px, "Space Mono");
                }
            }

            .icons {
                width: 32px;
                height: 32px;
                display: flex;
                gap: 10px;

                @include for-size(tablet) {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    .right-side {
        display: flex;
        gap: 20px;

        @include for-size(tablet) {
            display: none;
        }

        #btn1 {
            width: 186px;
            height: 66px;
        }

        #btn2 {
            width: 145px;
            height: 60px;
            margin-top: 3px;
            background-color: transparent;
            border: 2px solid $purple;

            p {
                @include text-formatter($purple, 600, 140%, 16px);
            }

            @include text-formatter($white, 600, 140%, 16px);
        }
    }
}

.solid {
    border-bottom: 1px solid rgba(128, 128, 128, 0.295);
}

.second-section {
    @include container;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;

    @include for-size(mobile) {
        gap: 10px;
    }

    .created {
        display: flex;
        gap: 16px;

        p {
            @include text-formatter($grey, 600,140%, 22px);
            cursor: pointer;

            @include for-size(tablet) {
                @include text-formatter($grey, 600, 140%, 16px);
            }

            &:hover {
                color: $white;
            }
        }

        .circle1 {
            width: 50px;
            height: 32px;
            border: 1px solid $grey;
            border-radius: 20px;
            background: $grey;
            display: flex;
            padding: 5px 10px;
            align-items: center;

            @include for-size(mobile) {
                display: none;
            }

            p {
                @include text-formatter($white, 400, 140%, 16px, "Space Mono");
            }
        }
    }

    .owned {
        display: flex;
        gap: 16px;

        p {
            @include text-formatter($grey, 600,140%, 22px);
            cursor: pointer;

            &:hover {
                color: $white;
            }
        }

        .circle2 {
            width: 40px;
            height: 32px;
            border: 1px solid $grey;
            border-radius: 20px;
            background: $grey;
            display: flex;
            padding: 5px 10px;
            align-items: center;

            @include for-size(mobile) {
                display: none;
            }

            p {
                @include text-formatter($white, 400, 140%, 16px, "Space Mono");
            }
        }
    }

    .collection {
        display: flex;
        gap: 16px;

        p {
            @include text-formatter($grey, 600,140%, 22px);
            cursor: pointer;

            &:hover {
                color: $white;
            }
        }

        .circle3 {
            width: 30px;
            height: 32px;
            border: 1px solid $grey;
            border-radius: 20px;
            background: $grey;
            display: flex;
            padding: 5px 10px;
            align-items: center;

            @include for-size(mobile) {
                display: none;
            }

            p {
                @include text-formatter($white, 400, 140%, 16px, "Space Mono");
            }
        }
    }
}

.third-section {
    background-color: $middle-grey;

    .cards {
        @include container;
        padding: 80px 0;
        display: grid;
        grid-template-columns: repeat(3, 3fr);

        @include for-size(tablet) {
            grid-template-columns: repeat(2, 3fr);
        }

        @include for-size(mobile) {
            grid-template-columns: repeat(1, 3fr);
        }

        .card {
            width: 330px;
            height: 469px;
            background-color: $dark-grey;

            @include for-size(mobile) {
                width: 315px;
                height: 402px;
            }

            .card-top {
                width: 330px;
                height: 296px;
                margin-top: -20px;
            }

            .card-middle {
                width: 330px;
                height: 173px;
                padding: 20px 30px 25px 30px;

                h6 {
                    @include text-formatter($white, 600, 140%, 22px);
                    margin-bottom: 5px;
                }

                .moon {
                    display: flex;
                    gap: 12px;
                    margin-bottom: 25px;

                    p {
                        @include text-formatter($white, 400, 140%, 16px, "Space Mono");
                    }
                }

                .card-bottom {
                    display: flex;
                    justify-content: space-between;

                    .card-bottom-left {

                        h6 {
                            @include text-formatter($grey, 400, 110%, 12px, "Space Mono");
                            margin-bottom: 8px;
                        }

                        p {
                            @include text-formatter($white, 400, 140%, 16px, "Space Mono");
                        }
                    }

                    .card-bottom-right {

                        h6 {
                            @include text-formatter($grey, 400, 110%, 12px, "Space Mono");
                            margin-bottom: 8px;
                        }

                        p {
                            @include text-formatter($white, 400, 140%, 16px, "Space Mono");
                        }
                    }
                }
            }
        }

        .card.passiv {
            @include for-size(tablet) {
                display: none;
            }
        }

        .card.second {
            @include for-size(mobile) {
                display: none;
            }
        }
    }
}

.solid2 {
    border-bottom: 2px solid $dark-grey;
}