.first-section {

    .first-part {
        @include container;
        padding: 80px 0;

        @include for-size(tablet) {
            padding: 60px 0;
        }

        @include for-size(mobile) {
            padding: 40px 0;
        }

        h2 {
            @include text-formatter($white, 600, 110%, 51px);
            margin-bottom: 10px;

            @include for-size(tablet) {
                @include text-formatter($white, 600, 120%, 38px);
            }

            @include for-size(mobile) {
                @include text-formatter($white, 600, 140%, 28px);
            }
        }

        p {
            @include text-formatter($white, 400, 160%, 22px);
            margin-bottom: 30px;

            @include for-size(tablet) {
                @include text-formatter($white, 400, 140%, 16px);
            }
        }

        > .search {
            position: relative;

            input {
                width: 1050px;
                height: 60px;
                border: 1px solid rgba(255, 255, 255, 0.161);
                border-radius: 20px;
                padding: 12px 20px;
                background-color: transparent;
            }

            img {
                position: absolute;
                top: 16px;
                right: -610px;
            }
        }

        > .search2 {
            position: relative;
            display: none;

            @include for-size(tablet) {
                display: initial;
            }

            input {
                width: 1050px;
                height: 60px;
                border: 1px solid rgba(255, 255, 255, 0.161);
                border-radius: 20px;
                padding: 12px 20px;
                background-color: transparent;

                @include for-size(tablet) {
                    width: 680px;
                    height: 36px;
                }

                @include for-size(mobile) {
                    width: 315px;
                    height: 36px;
                }
            }

            img {
                position: absolute;
                top: 16px;
                right: -610px;

                @include for-size(tablet) {
                    top: -2px;
                    right: 10px;
                }
            }
        }
    }
}

.solid {
    border: 1px solid rgba(128, 128, 128, 0.25);
}

.second-section {
    @include container;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;

    .created {
        display: flex;
        gap: 16px;

        p {
            @include text-formatter($grey, 600,140%, 22px);
            cursor: pointer;

            @include for-size(tablet) {
                @include text-formatter($grey, 600,140%, 16px);
            }

            &:hover {
                color: $white;
            }
        }

        .circle1 {
            width: 50px;
            height: 32px;
            border: 1px solid $grey;
            border-radius: 20px;
            background: $grey;
            display: flex;
            padding: 5px 10px;
            align-items: center;

            @include for-size(mobile) {
                display: none;
            }

            p {
                @include text-formatter($white, 400, 140%, 16px, "Space Mono");
            }
        }
    }

    .collections {
        display: flex;
        gap: 16px;
    
        p {
            @include text-formatter($grey, 600,140%, 22px);
            cursor: pointer;

            @include for-size(tablet) {
                @include text-formatter($grey, 600,140%, 16px);
            }
    
            &:hover {
                color: $white;
            }
        }
    
        .circle2 {
            width: 40px;
            height: 32px;
            border: 1px solid $grey;
            border-radius: 20px;
            background: $grey;
            display: flex;
            padding: 5px 10px;
            align-items: center;

            @include for-size(mobile) {
                display: none;
            }
    
            p {
                @include text-formatter($white, 400, 140%, 16px, "Space Mono");
            }
        }
    }
}

.third-section {
    background-color: $middle-grey;

    .cards {
        @include container;
    
        .card {
            width: 330px;
            height: 469px;
            background-color: $dark-grey;
        }

        .card.passiv {
            @include for-size(tablet) {
                display: none;
            }
        }

        .card.second {
            @include for-size(mobile) {
                display: none;
            }
        }
    }
  
  
}
.show-more{
    display: flex;
    justify-content: center;
    align-items: center;
    
    img{
        width: 30px;
        cursor: pointer;
    transition: 0.2s;
        &:hover{
            transform: scale(1.1);
        }
    }
}

.solid2 {
    border-bottom: 2px solid $dark-grey;
}

.footer {

    .search2 {
        display: none;
        width: 425px;

        @include for-size(mobile) {
            display: initial;
        }
        
        input {
            width: 100%;
            height: 60px;
            border-radius: 20px;
            border: none;
            padding: 0 0 0 20px;

            @include for-size(mobile) {
                width: 315px;
                height: 46px;
                padding: 16px 20px;
                margin-top: 40px;
                margin-bottom: 16px;
            }
        }
    
        button {
            width: 211px;

            @include for-size(mobile) {
                width: 315px;
                height: 46px;
            }
    
            span {
                @include text-formatter($white, 600, 140%, 16px);
            }
    
            &:hover {
                background-color: rgba(128, 0, 128, 0.257);
            }
        }
    }
}