.footer {
    background-color: $middle-grey;

    .container {
        @include container;
        padding: 40px 0;
        display: flex;
        justify-content: space-between;

        @include for-size(tablet) {
            flex-direction: column;
        }

        .left-side {

            .image {
                display: flex;
                gap: 12px;
                margin-bottom: 30px;

                #img1 {
                    width: 32px;
                    height: 32px;
                }

                #img2 {
                    width: 200px;
                    height: 20px;
                    margin-top: 8px;
                }
            }

            p {
                @include text-formatter($light-grey, 400, 140%, 16px);
                margin-bottom: 20px;
            }

            span {
                @include text-formatter($light-grey, 400, 140%, 16px);
            }

            > img {
                margin-top: 15px;
            }
        }

        .middle-side {
            display: flex;
            flex-direction: column;

            @include for-size(tablet) {
                padding: 30px 0;
            }

            h2 {
                @include text-formatter($white, 700, 160%, 22px, "Space Mono");
                margin-bottom: -33px;

                @include for-size(tablet) {
                  padding: 0 0 20px 0;
                }
            }

            span {
                @include text-formatter($light-grey, 400, 140%, 16px);
                padding: 20px 0 0 0;
            }

            #span1 {
                margin-bottom: -40px;

                @include for-size(tablet) {
                }
            }

            #span2 {
                margin-bottom: -40px;
            }
        }

        .right-side {

            > h2 {
                @include text-formatter($white, 700, 160%, 22px, "Space Mono");
                margin-bottom: 25px;
            }

            > p {
                @include text-formatter($light-grey, 400, 140%, 16px);
                margin-bottom: 20px;

                @include for-size(tablet) {
                    display: none;
                }
            }

            #responsive-text {
                display: none;

                @include for-size(tablet) {
                    display: initial;
                    margin-bottom: 20px;              
                }

                @include for-size(mobile) {
                    display: initial;
                }
            }

            #search {
                width: 425px;
                position: relative;
            
                @include for-size(tablet) {
                    display: initial;
                    margin-top: 20px;
                }
                
                #email {
                    width: 100%;
                    height: 60px;
                    border-radius: 20px;
                    border: none;
                    outline: none;
                    padding: 0 0 0 20px;

                    @include for-size(tablet) {
                        width: 420px;
                        height: 60px;
                        margin-top: 20px;
                    }

                    @include for-size(mobile) {
                        width: 315px;
                        height: 46px;
                    }
                }
            
                button {
                    width: 211px;
                    position: absolute;
                    top: 0;
                    right: 0;

                    @include for-size(tablet) {
                        width: 179px;
                        height: 61px;
                        top: -20px
                    }

                    @include for-size(mobile) {
                        width: 315px;
                        height: 46px;
                        margin-top: 16px;
                        position: relative;
                    }
            
                    span {
                        @include text-formatter($white, 600, 140%, 16px);
                    }
            
                    &:hover {
                        background-color: rgba(128, 0, 128, 0.257);
                    }
                }
            }
        }
    }

    .container-end {
        @include container;

        .solid {
            border: 1px solid $grey;
        }

        > p {
            @include text-formatter($light-grey, 400, 110%, 12px);
            padding: 20px 0;
        }
    }
}
